<div class="page-header">
    <h1>Associates</h1>
</div>

<div class="container" style="width: 100%">
    <div class="row" style="margin-top:20px;">
        <div class="span-6">
            <form class="form-inline">
                <div class="form-group">
                    <label>Filter by: </label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                </div>
            </form>
        </div>
        <div class="span-6">
            <div class="pull-right">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" ng-click="toggleModal()">Add
                    Associate
                </button>
            </div>
            <div class="modalDirective" title="Search for associate" visible="showModal">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <form role="form">
                            <div class="form-group">
                                <label>Email address</label>
                                <input auto-complete-directive ng-model="search" ui-items="emails" class="form-control"
                                       id="emailAutoComplete"
                                       placeholder="Enter email"/>

                                <div id="result"></div>

                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-responsive table-striped table-hover"
                                               data-show-refresh="true">
                                            <thead>
                                            <th></th>
                                            <th>name</th>
                                            <th>email</th>
                                            </thead>
                                            <tbody>
                                            <tr dir-paginate="user in users |filter:search|itemsPerPage:5">
                                                <td>
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    {{user.name}}
                                                </td>
                                                <td>
                                                    {{user.email}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary" ng-click="ok()">Send Request</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bs-component" style="margin-top:20px;">
    <div class="clearfix visible-sm"></div>
    <table class="table table-responsive table-striped table-hover" data-show-refresh="true">
        <thead>
        <tr>
            <th class="col-md-4">Company</th>
            <th class="col-md-4">Status</th>
            <th class="col-md-6" colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="associate in associates |filter:search|itemsPerPage:5">
            <td>{{getAssociateName(associate.cmp_id)}}</td>
            <td>{{associate.state}}</td>
            <td class="text-right">
                <div class="btn-group">

                    <button class="btn btn-danger"
                            ng-click="removeAssociateRow(associate.id)"><i
                            class="glyphicon glyphicon-remove visible-xs-inline-block"></i>
                        <span class="hidden-xs">Remove</span></button>

                    <button ng-class="{false: 'btn btn-success', true: 'btn btn-default'} [associate.state == 'accept'] ">
                        <i class="glyphicon glyphicon-ok visible-xs-inline-block"></i>
                        <span class="hidden-xs">{{associate.state == "accept" ? 'Accepted' : 'Accept'}}</span></button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true">
</dir-pagination-controls>


<link rel="stylesheet" href="assets/css/toggle.css">