<!-- Navigation -->

<nav class="navbar navbar-inverse navbar-fixed-top"  role="navigation">
    <!-- navbar -->
    <div data-ng-include=" 'components/layout/sections/headerTemplate.html' ">
    </div>
    <!-- / navbar -->

    <!-- menu -->
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div data-ng-include=" 'components/layout/sections/sidemenuTemplate.html' " class="collapse navbar-collapse navbar-ex1-collapse">
    </div>
    <!-- /.navbar-collapse -->
    <!-- / menu -->
</nav>

<!-- view -->
<div class="container-fluid" ui-view>
</div>
<!-- / view -->
<!-- navbar -->
<div class="app-footer navbar navbar-fixed-bottom bg-light lt b-t">

</div>
<!-- /navbar -->
