<div class="page-header">
    <h1>Product</h1>
</div>

<div class="container full-width-container" ng-controller="CategoryCtrl">

    <div class="row margin-top-20px">

        <div class="col-md-6 col-sm-6 col-xs-6">
            <form class="form-inline">
                <div class="form-group">
                    <label>Filter by:</label>

                    <!--<select class='form-control' ng-model="myFilter" ng-options="c.cat_name for c in categories"-->
                    <!--ng-change="$parent.myFilter = {product_category:[{category : c.cat_cd}]}">-->
                    <!--<option value="">All</option>-->

                    <!--</select>-->

                    <input type="text" ng-model="myFilter" class="form-control" placeholder="search">
                </div>
            </form>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6">

            <div class="pull-right" ng-controller="ModalProductCtrl">

                <!-- angular ui modal -->
                <script type="text/ng-template" id="productDetailsModalTpl">
                    <div class="modal-header">
                        <h3 class="modal-title">Product Details</h3>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6 margin-bottom-10px">
                                    <div class="row" ng-if="product.details.highlight.length > 0">
                                        <h3>Highlights</h3>
                                        <ul ng-repeat="highlight in product.details.highlight" class="list-unstyled">
                                            <li>{{highlight.prd_dtl_description}}</li>
                                        </ul>
                                    </div>
                                    <div class="row" ng-if="product.details.fineprint.length > 0">
                                        <h3>FinePrints</h3>
                                        <ul ng-repeat="fineprint in product.details.fineprint" class="list-unstyled">
                                            <li>{{fineprint.prd_dtl_description}}</li>
                                        </ul>
                                    </div>
                                    <div class="row" ng-controller="SubProductCtrl">
                                        <div class="row" ng-if="product.sub_products.length > 0">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <h3>Sub Products</h3>


                                                <div pagination-id="subProductPagination"
                                                     dir-paginate="sub in product.sub_products | itemsPerPage:2">

                                                    <div class="item active">
                                                        <ul class="event-list" class="list-unstyled">
                                                            <li>
                                                                <time>
                                                                    <span class="month">{{sub.sub_prd_discount}}</span>
                                                                </time>

                                                                <div class="info">
                                                                    <h2 class="title">{{sub.sub_prd_description}}</h2>

                                                                    <p class="desc"><label>New
                                                                        Price&nbsp;:&nbsp;</label>{{getAvailableProductQuantity(sub,
                                                                        product)}}RM</p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="text-center">
                                                    <dir-pagination-controls
                                                            pagination-id="subProductPagination"
                                                            direction-links="true"
                                                            boundary-links="true">
                                                    </dir-pagination-controls>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <uib-carousel>
                                        <uib-slide ng-repeat="image in product.product_image" active="slide.active"
                                                   index="slide.id">
                                            <img ng-src="{{image.prd_img_url}}" class="margin-auto">

                                        </uib-slide>
                                    </uib-carousel>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="modal-footer">

                        <div class="btn-group">

                            <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
                            <button class="btn btn-primary" type="button" ng-click="cancel()">Done</button>

                        </div>

                    </div>

                </script>
                <!-- / -->

                <!-- angular ui modal -->
                <script type="text/ng-template" id="productModalTpl">
                    <div class="modal-header">
                        <h3 class="modal-title">Product</h3>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" ng-controller="ProductDetailCtrl">
                            <wizard current-step-number="currentStepNumber" submit="submit()">
                                <wizard-step title="GeneralInformations" entered="stepEntered()">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3 text-align-left">Title:</label>

                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <input id="product_title" value="{{product.prd_title}}" type="text"
                                                           class="form-control"
                                                           placeholder="Title"
                                                           ng-model="product.prd_title"
                                                           required>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3 text-align-left">Original
                                                    Price:</label>

                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <div class="input-group">
                                                        <input id="product_original_price" type="text"
                                                               class="form-control"
                                                               placeholder="Original Price"
                                                               aria-describedby="basic-addon2"
                                                               ng-model="product.prd_original_price"
                                                               value="{{product.prd_original_price}}" required>
                                                        <span class="input-group-addon">RM</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3 text-align-left">New
                                                    Price:</label>

                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <div class="input-group">
                                                        <input id="product_new_price" type="text" class="form-control"
                                                               placeholder="New Price"
                                                               aria-describedby="basic-addon2"
                                                               ng-model="product.prd_new_price"
                                                               value="{{product.prd_new_price}}">
                                                        <span class="input-group-addon">RM</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3 text-align-left">Measure
                                                    Unit:</label>

                                                <div class="col-md-9 col-sm-9 col-xs-9">

                                                    <input id="product_measure_unit"
                                                           value="{{product.prd_measure_unit}}" type="text"
                                                           class="form-control"
                                                           placeholder="KG"
                                                           ng-model="product.prd_measure_unit"
                                                           required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3 text-align-left">Description:</label>

                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                             <textarea id="product_description" type="text" class="form-control"
                                                       rows="2"
                                                       placeholder="Description"
                                                       ng-model="product.prd_description"
                                                       required>{{product.prd_description}}</textarea>
                                                </div>
                                            </div>

                                            <div class="form-group" ng-controller="CategoryCtrl">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3 text-align-left">Categories:</label>

                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <oi-select
                                                            id="product_category"
                                                            oi-options="c.cat_group + '/' + c.cat_name for c in categories track by c.cat_cd"
                                                            ng-model="product.product_category"
                                                            choseList
                                                            required
                                                            multiple>
                                                    </oi-select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3 text-align-left">Availability:</label>

                                                <div class="col-md-9 col-sm-9 col-xs-9">

                                                    <input id="product_availability"
                                                           value="{{product.prd_availability}}" type="text"
                                                           class="form-control"
                                                           ng-model="product.prd_availability"
                                                           placeholder="Availability" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </wizard-step>
                                <wizard-step title="DetailedInformations" required-step-number="0"
                                             entered="stepEntered()">
                                    <div class="row">

                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <h4 class=" text-center">FinePrints</h4><br/>

                                            <ul class="list-unstyled">

                                                <li ng-repeat="p in product.details.fineprint track by $index">

                                                    <div class="input-group fineprint_parent">
                                                        <input class="form-control fineprint" type="text"
                                                               ng-model="p.prd_dtl_description"
                                                               required/>
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-danger" type="button"
                                                                    ng-click="deleteFinePrint(p)">
                                                                <i class="glyphicon glyphicon-minus-sign visible-xs-inline-block"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <br/>
                                                </li>

                                                <li>
                                                    <div class="btn-group" role="group">
                                                        <button class="btn btn-info" type="button"
                                                                ng-click="addFinePrint()">
                                                            <span class="hidden-xs">add FinePrints</span>
                                                            <i class="glyphicon glyphicon-plus-sign visible-xs-inline-block"></i>
                                                        </button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <h4 class=" text-center">HighLights</h4><br/>
                                            <ul class="list-unstyled">

                                                <li ng-repeat="p in product.details.highlight track by $index">

                                                    <div class="input-group highlight_parent">
                                                        <input class="form-control" type="text"
                                                               ng-model="p.prd_dtl_description" required/>
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-danger" type="button"
                                                                    ng-click="deleteHighlight(p)">
                                                                <i class="glyphicon glyphicon-minus-sign visible-xs-inline-block"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <br/>

                                                </li>

                                                <li>

                                                    <div class="btn-group" role="group">
                                                        <button class="btn btn-info" type="button"
                                                                ng-click="addHighLight()">
                                                            <span class="hidden-xs">add HighLights</span>
                                                            <i class="glyphicon glyphicon-plus-sign visible-xs-inline-block"></i>
                                                        </button>
                                                    </div>

                                                </li>

                                            </ul>
                                        </div>

                                    </div>

                                </wizard-step>
                                <wizard-step title="SubProductsInformations" required-step-number="1"
                                             entered="stepEntered()">


                                    <div class="row">

                                        <div class="btn-group" role="group">
                                            <button class="btn btn-info" type="button"
                                                    ng-click="addSubProduct()">
                                                <span class="hidden-xs">add Sub Product</span>
                                                <i class="glyphicon glyphicon-plus-sign visible-xs-inline-block"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-5 col-xs-5" pagination-id="newSubProductPagination"
                                             dir-paginate="p in product.sub_products | itemsPerPage:6">

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="offer offer-success">
                                                    <div class="row">
                                                        <div class="shape">
                                                            <div class="shape-text">

                                                                <button class="btn btn-danger rounded raised"
                                                                        type="button"
                                                                        ng-click="deleteSubProduct(p)">
                                                                    <i class="glyphicon glyphicon-minus-sign visible-xs-inline-block"></i>
                                                                </button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="offer-content sub_product_parent">

                                                        <div class="form-group">

                                                            <div class="field">
                                                                <label ng-show="p.sub_prd_description"
                                                                       class="show-hide">Description</label>
                                                                <input type="text"
                                                                       class="form-control sub_product_description"
                                                                       ng-model="p.sub_prd_description"
                                                                       value="{{p.sub_prd_description}}"
                                                                       placeholder="Description" required/>
                                                            </div>

                                                        </div>

                                                        <div class="form-group">

                                                            <div class="field">
                                                                <label ng-show="p.sub_prd_discount"
                                                                       class="show-hide">Discount</label>
                                                                <input type="text"
                                                                       class="form-control sub_product_discount"
                                                                       ng-model="p.sub_prd_discount"
                                                                       value="{{p.sub_prd_discount}}"
                                                                       placeholder="Discount" required/>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">

                                                            <div class="field">
                                                                <label ng-show="p.sub_prd_initial_qte"
                                                                       class="show-hide">Quantity</label>
                                                                <input type="text"
                                                                       class="form-control sub_product_quantity"
                                                                       ng-model="p.sub_prd_initial_qte"
                                                                       value="{{p.sub_prd_initial_qte}}"
                                                                       placeholder="Quantity" required/>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="text-center">
                                            <dir-pagination-controls
                                                    pagination-id="newSubProductPagination"
                                                    direction-links="true"
                                                    boundary-links="true">
                                            </dir-pagination-controls>
                                        </div>
                                    </div>
                                </wizard-step>

                                <wizard-step title="ImgageUpload" required-step-number="2"
                                             entered="stepEntered()">

                                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                                            data-target="#collapseExample" aria-expanded="false"
                                            aria-controls="collapseExample">
                                        Upload new images
                                    </button>

                                    <ul class="ch-grid">
                                        <li ng-repeat="image in product.product_image">
                                            <div class="ch-item">
                                                <div class="ch-info"
                                                     style="background: #c9512e url({{image.prd_img_url}})">

                                                    <p><a>
                                                        <button class="btn btn-danger" type="button"
                                                                ng-click="deleteImage(image)">
                                                            <i class="glyphicon glyphicon-minus-sign visible-xs-inline-block"></i>
                                                        </button>
                                                    </a></p>
                                                </div>
                                                <div class="ch-thumb">
                                                    <img class="img-responsive" src="{{image.prd_img_url}}">
                                                </div>


                                            </div>
                                        </li>

                                    </ul>


                                    <div class="collapse" id="collapseExample">

                                        <div class="well">

                                            <section class="container" ng-controller="dropletCtrl">

                                                <section class="droplet"
                                                         ng-class="{ uploading: interface.isUploading() }">

                                                    <ul class="statistics">
                                                        <li><label>Valid:</label>
                                                            {{interface.getFiles(interface.FILE_TYPES.VALID).length}}
                                                        </li>
                                                        <li><label>Invalid:</label>
                                                            {{interface.getFiles(interface.FILE_TYPES.INVALID).length}}
                                                        </li>
                                                        <li><label>Uploaded:</label>
                                                            {{interface.getFiles(interface.FILE_TYPES.UPLOADED).length}}
                                                        </li>
                                                        <li><label>Deleted:</label>
                                                            {{interface.getFiles(interface.FILE_TYPES.DELETED).length}}
                                                        </li>
                                                        <li><label>Total:</label> {{interface.getFiles().length}}</li>
                                                    </ul>

                                                    <section class="toolbar">

                                                        <input type="button" class="button upload-files"
                                                               value="Upload Files"
                                                               ng-click="interface.uploadFiles()"
                                                               ng-hide="interface.isUploading()"
                                                               ng-class="{ clickable: interface.isReady() }"/>


                                                        <div class="add-files">
                                                            <input type="button"
                                                                   class="button add-files full-width-container"
                                                                   value="Add Files..."/>
                                                            <droplet-upload-multiple
                                                                    ng-model="interface"></droplet-upload-multiple>
                                                        </div>

                                                        <comment class="progress"
                                                                 ng-class="{ visible: interface.isUploading() }">
                                                            Uploaded: {{interface.progress.percent}}%
                                                        </comment>

                                                    </section>

                                                    <droplet ng-model="interface" product="product.product_image">

                                                        <comment></comment>

                                                        <section class="message success" ng-class="{ visible: success }"
                                                                 ng-click="success = false">
                                                            Successfully uploaded {{uploadCount}} files.
                                                        </section>

                                                        <section class="message error" ng-class="{ visible: error }"
                                                                 ng-click="error = false">
                                                            Failed to upload any of the files.
                                                        </section>

                                                        <ul class="files">

                                                            <li ng-repeat="model in interface.getFiles(interface.FILE_TYPES.VALID)">
                                                                <droplet-preview ng-model="model"
                                                                                 product="product.product_image"></droplet-preview>
                                                                <div class="delete"
                                                                     ng-click="model.deleteFile()">&times;</div>
                                                                <div class="size">{{model.file.size / 1024 / 1024 |
                                                                    number:
                                                                    1}}MB
                                                                </div>
                                                            </li>

                                                        </ul>

                                                    </droplet>

                                                </section>

                                            </section>

                                        </div>

                                    </div>

                                </wizard-step>

                            </wizard>

                        </form>
                    </div>

                    <div class="modal-footer">

                        <div class="btn-group">
                            <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
                            <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
                        </div>

                    </div>

                </script>
                <!-- / -->

                <!-- Button trigger modal -->
                <button type="button" ng-click="open('lg','productModalTpl')" class="btn btn-primary">Add
                    Product
                </button>
                <!-- / -->
            </div>

        </div>

    </div>

    <div class="container full-width-container margin-top-20px" ng-if="products.length > 0">
        <div class="row" ng-controller="ModalProductCtrl">

            <div class="col-md-4 col-sm-4 col-xs-4 catalog fadeIn"
                 dir-paginate="product in products | filter : myFilter| itemsPerPage:10">

                <div class="thumbnail">

                    <h4 class="text-center title"><span class="label label-info">{{product.prd_title}}</span></h4>

                    <div class="text-center" ng-controller="RatingCtrl">

                        <uib-rating class="stars"
                                    value="{{getTotal(product.prd_cd)}}"
                                    ng-model="total"
                                    max="5"
                                    readonly="isReadonly"
                                    state-on="'glyphicon glyphicon-star'"
                                    state-off="'glyphicon glyphicon-star-empty'"
                                    aria-labelledby="default-rating">
                        </uib-rating>

                    </div>

                    <div class="text-center" ng-if="product.product_image.length > 0"
                         ng-repeat="image in product.product_image">

                        <img ng-if="image.prd_img_is_cover == true"
                             lazy-src="{{image.prd_img_url}}"
                             class="img-responsive center-block product-image"/>
                    </div>

                    <div class="text-center" ng-if="product.product_image.length == 0">

                        <img lazy-src="assets/images/no-image.png"
                             class="img-responsive center-block product-image"/>
                    </div>

                    <div class="caption">

                        <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                                <h3>{{product.prd_original_price}}RM</h3>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 text-right" ng-if="product.prd_new_price != 0">
                                <h3>
                                    {{product.prd_new_price}}RM
                                </h3>
                            </div>

                        </div>

                        <p>{{product.prd_description}}</p>

                        <div class="row catalog-buttons">

                            <div class="btn-group btn-group-justified" role="group" aria-label="...">

                                <div class="btn-group" role="group" ng-if="hasInformations(product)">
                                    <button class="btn btn-info"
                                            ng-click="open('lg','productDetailsModalTpl', product)"><i
                                            class="glyphicon glyphicon-info-sign visible-xs-inline-block"></i>
                                        <span class="hidden-xs hidden-sm hidden-md">More</span></button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-warning"
                                            ng-click="open('lg','productModalTpl', product)">
                                        <i class="glyphicon glyphicon-pencil visible-xs-inline-block"></i>
                                        <span class="hidden-xs hidden-sm hidden-md">Update</span>
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-danger" ng-click="removeProductRow(product.prd_cd)">
                                        <i class="glyphicon glyphicon-remove visible-xs-inline-block"></i>
                                        <span class="hidden-xs hidden-sm hidden-md">Remove</span>
                                    </button>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <dir-pagination-controls
                direction-links="true"
                boundary-links="true">
        </dir-pagination-controls>

    </div>


</div>

<div class="bs-component margin-top-20px" ng-if="products.length == 0">

    <div class="row">

        <div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-info-sign"></i> You have 0
            product!
        </div>
    </div>

</div>