<div class="middle row">
    <div class="col-md-5 logo-table">
        <div class="logo-cell">
            <h1>TRACTIVE</h1>

            <h3>Dashboard</h3>
        </div>
    </div>
    <div class="col-md-1 vertical-line-login">
    </div>
    <div class="col-md-4">
        <form name='loginForm' ng-submit="submit()">
            <div class="tips-form-group">
                <input ng-placeholder="Email address{}" type="email" class="form-control" required
                       autofocus ng-model="formData.email">
            </div>
            <div class="tips-form-group">
                <input ng-placeholder="Password{}" type="password" class="form-control"
                       required ng-model="formData.password">
            </div>
            <div ng-model="formData.captcha"
            style="transform:scale(0.70);-webkit-transform:scale(0.70);transform-origin:0 0;-webkit-transform-origin:0 0;"
            data-tabindex="3" vc-recaptcha key="'6LeM5R8TAAAAAKrFmZksKQor83SqDznFi55vWiyZ'"></div>
            <div class="row">
                <div class="col-md-6">
                    <a class="pull-left password-recover" href="#/forgot">Forgot Password?</a>
                    <a class="pull-left sign-up" href="#/register">Sign up</a>
                </div>
                <div class="col-md-6">
                    <button id="loginSubmit" class="btn-block sign-in authSubmit"
                            type="submit">
                        Sign in
                    </button>
                </div>
            </div>
            <span class="clearfix"></span>
        </form>
    </div>
</div>

