<div class="middle row">

    <div class="col-md-6 col-xs-12 col-sm-12 logo-table">
        <div class="logo-cell">
            <h1 class="login_title">TRACTIVE</h1>
            <div class="col-md-10 col-sm-10 col-xs-10 pull-right">
                <h3 class="login-subtitle">Beacon Dashboard</h3>
            </div>

        </div>
    </div>

    <div class="col-md-1 col-sm-1 col-xs-1 vertical-line-login hidden-xs hidden-sm"></div>

    <div class="col-md-5 col-xs-12 col-sm-12 login-div">

        <form class="form-login" autocomplete="off" method="post" name='registerForm' novalidate
              ng-submit="submit(registerForm.$valid)"
              ng-controller="RegisterController">

            <div class="tips-form-group inner-addon left-addon">
                <i class="glyphicon glyphicon-user login"></i>
                <input placeholder="First Name" ng-model="data.firstName" type="text" name="fistName"
                       class="form-control input-email" autofocus required>
                <div class="field-message" ng-messages="registerForm.fistName.$error"
                     ng-if="registerForm.fistName.$dirty" ng-cloak>
                    <div ng-message="required">First Name is required</div>
                </div>
            </div>

            <div class="tips-form-group inner-addon left-addon">
                <i class="glyphicon glyphicon-user login"></i>
                <input placeholder="Last Name" ng-model="data.lastName" type="text" class="form-control input-email"
                       name="lastName" required>
                <div class="field-message" ng-messages="registerForm.lastName.$error"
                     ng-if="registerForm.lastName.$dirty" ng-cloak>
                    <div ng-message="required">Last Name is required</div>
                </div>
            </div>

            <div class="tips-form-group inner-addon left-addon">
                <i class="glyphicon glyphicon-phone login"></i>
                <input placeholder="phone number" ng-model="data.phone" type="text" class="form-control input-email"
                       name="phone" ng-minlength="11" required>
                <div class="field-message" ng-messages="registerForm.phone.$error" ng-if="registerForm.phone.$dirty"
                     ng-cloak>
                    <div ng-message="required">Phone number is required</div>
                    <div ng-message="minlength">Phone number have minimum 11 digits</div>
                </div>
            </div>

            <div class="tips-form-group inner-addon left-addon">
                <i class="glyphicon glyphicon-envelope login"></i>
                <input placeholder="email" type="email" class="form-control input-email"
                       name="userEmail" ng-model="data.userEmail" required>
                <div class="field-message" ng-messages="registerForm.userEmail.$error"
                     ng-if="registerForm.userEmail.$dirty"
                     ng-cloak>
                    <div ng-message="required">Email is required</div>
                    <div ng-message="email">Must be a valid email</div>
                </div>
            </div>

            <div class="tips-form-group inner-addon left-addon">
                <i class="glyphicon glyphicon-lock"></i>
                <input ng-model="data.password" placeholder="password" type="password" class="form-control input-email"
                       name="password" minlength="6" required>
                <div class="field-message" ng-messages="registerForm.password.$error"
                     ng-if="registerForm.password.$dirty" ng-cloak>
                    <div ng-message="required">Password is required</div>
                    <div ng-message="minlength">Password must be minimum 6 characters</div>
                </div>

            </div>

            <div class="tips-form-group inner-addon left-addon">
                <i class="glyphicon glyphicon-lock"></i>
                <input ng-model="data.confirmPassword" placeholder="confirm password" type="password"
                       class="form-control input-email"
                       name="confirmPassword" minlength="6" compare-to="data.password" required>
                <div class="field-message" ng-messages="registerForm.confirmPassword.$error"
                     ng-if="registerForm.confirmPassword.$dirty" ng-cloak>
                    <div ng-message="required">Password confirmation is required</div>
                    <div ng-message="minlength">Password must be minimum 6 characters</div>
                    <div ng-message="compareTo">Must match the password</div>
                </div>
            </div>

            <div class="tips-form-group">
                    <span class="tips-form-group">
                    <input type="checkbox" name="conditions" ng-model="conditions">
                        I understand and agree with Tractive terms and conditions.
                    </span>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <button id="loginSubmit" class="btn-block sign-in authSubmit pull-right" type="submit"
                            ng-disabled="registerForm.$invalid || !conditions">
                        Sign Up
                    </button>
                </div>
            </div>

        </form>

    </div>

</div>