<div class="page-header">
    <h1>Content</h1>
</div>

<div class="container" style="width: 100%">
    <div class="row" style="margin-top:20px;">

        <div class="col-md-6">

            <form class="form-inline">

                <div class="form-group">
                    <label>Filter by: </label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                </div>

            </form>

        </div>

        <div class="col-md-6">

            <div class="pull-right" ng-controller="ModalContentCtrl">

                <!-- angular ui modal -->
                <script type="text/ng-template" id="contentModalTpl">

                    <div class="modal-header">
                        <h3 class="modal-title">New Content</h3>
                    </div>

                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3" style="text-align: left;">Title:</label>

                                        <div class="col-xs-9">
                                            <input id="content_title" value="{{content.cnt_title}}" type="text"
                                                   class="form-control"
                                                   ng-model="content.cnt_title"
                                                   placeholder="Title">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-3"
                                               style="text-align: left;">Description:</label>

                                        <div class="col-xs-9">
                                    <textarea id="content_content" ng-model="content.cnt_content" type="text"
                                              class="form-control" rows="2"
                                              placeholder="Details">{{content.cnt_content}}</textarea>
                                        </div>
                                    </div>

                                    <div ng-controller="ContentCtrl">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="control-label col-xs-3" style="text-align: left;">Content
                                                    Type:</label>
                                                <!-- Single button -->
                                                <div class="col-xs-9">
                                                    <select ng-model="content.cnt_type.lkp_cd" id="content_type"
                                                            class="btn btn-defautl">
                                                        <option value="">--Select Type--</option>
                                                        <option ng-repeat="contentType in contentTypes"
                                                                value="{{contentType.lkp_cd}}"
                                                                ng-selected="{false: '', true: 'selected'} [content.cnt_type.lkp_cd == contentType.lkp_cd]">
                                                            {{contentType.lkp_value}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <label class="control-label col-xs-3"
                                                       style="text-align: left;">Tags:</label>

                                                <div class="col-xs-9">
                                                    <oi-select
                                                            id="tagSelect"
                                                            oi-options="t.tag_name for t in tag track by t.tag_cd"
                                                            ng-model="content.tag"
                                                            choseList
                                                            oi-select-options="{ closeList: false }"
                                                            multiple>
                                                    </oi-select>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div ng-controller="GalleryCtrl">

                                                <uib-tabset justified="true">

                                                    <uib-tab heading="DS Content">

                                                        <ul class="thumbnails recipes list-unstyled panel"
                                                            style="margin-top: 10%;">

                                                            <li ng-repeat="image in images | contentPagesFilter: currentPage : itemsPerPage">

                                                                <div class="row">

                                                                    <dsdirective image="image"
                                                                                 content="content"></dsdirective>

                                                                    <div class="col-md-3 col-xs-3 text-right  v-center"
                                                                         style="display:table; height:100px;">

                                                                        <div style="display:table-cell; vertical-align:middle; text-align:center;">

                                                                            <label class="switch">

                                                                                <input class="ds_content"
                                                                                       type="checkbox"
                                                                                       ng-model="image.checked"
                                                                                       ng-change="saveChecked($index, itemsPerPage, currentPage, images)"
                                                                                       ng-checked="{false: '', true: 'checked'} [content.med_cd == image.med_cd] || true == getIndex($index, itemsPerPage, currentPage)">

                                                                                <i></i>

                                                                            </label>

                                                                        </div>

                                                                    </div>

                                                                </div>
                                                            </li>

                                                        </ul>

                                                        <div class="text-center">

                                                            <uib-pagination
                                                                    total-items="totalItems"
                                                                    ng-model="currentPage"
                                                                    items-per-page="itemsPerPage"
                                                                    max-size="maxSize"
                                                                    class="pagination-sm">
                                                            </uib-pagination>

                                                        </div>

                                                    </uib-tab>

                                                    <uib-tab heading="URL">

                                                        <div class="input-group" style="margin-top: 10%;">

                                                            <span class="input-group-addon" id="basic-addon3">http://example.com/</span>

                                                            <input id="content_url" type="text" class="form-control"
                                                                   aria-describedby="basic-addon3"
                                                                   value="{{content.cnt_url}}">

                                                        </div>

                                                    </uib-tab>

                                                    <uib-tab heading="Upload">

                                                        <section class="container" ng-controller="contentDropletCtrl">

                                                            <section class="droplet"
                                                                     ng-class="{ uploading: interface.isUploading() }">

                                                                <ul class="statistics">
                                                                    <li><label>Valid:</label>
                                                                        {{interface.getFiles(interface.FILE_TYPES.VALID).length}}
                                                                    </li>
                                                                    <li><label>Invalid:</label>
                                                                        {{interface.getFiles(interface.FILE_TYPES.INVALID).length}}
                                                                    </li>
                                                                    <li><label>Uploaded:</label>
                                                                        {{interface.getFiles(interface.FILE_TYPES.UPLOADED).length}}
                                                                    </li>
                                                                    <li><label>Deleted:</label>
                                                                        {{interface.getFiles(interface.FILE_TYPES.DELETED).length}}
                                                                    </li>
                                                                    <li><label>Total:</label>
                                                                        {{interface.getFiles().length}}
                                                                    </li>
                                                                </ul>

                                                                <section class="toolbar">

                                                                    <input type="button" class="button upload-files"
                                                                           value="Upload Files"
                                                                           ng-click="interface.uploadFiles()"
                                                                           ng-hide="interface.isUploading()"
                                                                           ng-class="{ clickable: interface.isReady() }"/>


                                                                    <div class="add-file">
                                                                        <input type="button" class="button add-files"
                                                                               value="Add Files..."
                                                                               style="width: 100%;"/>
                                                                        <droplet-upload-single
                                                                                ng-model="interface"></droplet-upload-single>
                                                                    </div>

                                                                    <comment class="progress"
                                                                             ng-class="{ visible: interface.isUploading() }">
                                                                        Uploaded: {{interface.progress.percent}}%
                                                                    </comment>

                                                                </section>

                                                                <droplet ng-model="interface"
                                                                         product="product.product_image">

                                                                    <comment></comment>

                                                                    <section class="message success"
                                                                             ng-class="{ visible: success }"
                                                                             ng-click="success = false">
                                                                        Successfully uploaded {{uploadCount}} files.
                                                                    </section>

                                                                    <section class="message error"
                                                                             ng-class="{ visible: error }"
                                                                             ng-click="error = false">
                                                                        Failed to upload any of the files.
                                                                    </section>

                                                                    <ul class="files">

                                                                        <li ng-repeat="model in interface.getFiles(interface.FILE_TYPES.VALID)">
                                                                            <droplet-preview ng-model="model"
                                                                                             product="product.product_image"></droplet-preview>
                                                                            <div class="delete"
                                                                                 ng-click="model.deleteFile()">&times;</div>
                                                                            <div class="size">{{model.file.size / 1024 /
                                                                                1024 |
                                                                                number:
                                                                                1}}MB
                                                                            </div>
                                                                        </li>

                                                                    </ul>

                                                                </droplet>

                                                            </section>

                                                        </section>

                                                    </uib-tab>

                                                </uib-tabset>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </form>

                    </div>

                    <div class="modal-footer">

                        <div class="btn-group" ng-controller="ContentAlertCtrl">

                            <button class="btn btn-danger" type="button" ng-click="confirmCancel()">Cancel</button>
                            <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>

                        </div>

                    </div>

                </script>
                <!-- / -->
                <!-- Button trigger modal -->
                <button type="button" ng-click="open('lg','contentModalTpl', undefined, tag)" class="btn btn-primary">
                    Add
                    Content
                </button>
                <!-- / -->

            </div>

        </div>

    </div>

</div>

<div class="bs-component" style="margin-top:20px;" ng-if="contents.length > 0">

    <div class="table-responsive">

        <table class="table table-striped table-hover">

            <thead>

            <tr>

                <th></th>
                <th>Title</th>
                <th>Description</th>
                <th>Preview</th>
                <th>Type</th>
                <th></th>

            </tr>

            </thead>

            <tbody dir-paginate="content in contents | filter:search | itemsPerPage:5">
            <tr>
                <td></td>
                <td>{{content.cnt_title}}</td>
                <td>{{content.cnt_content}}</td>
                <td>
                    <div class="wrapper size">

                        <previewdirective content="content"></previewdirective>

                    </div>
                </td>
                <td ng-if="content.is_ds_content == true">External Content</td>
                <td ng-if="content.is_ds_content == false">Internal Content</td>
                <td class="text-right">

                    <div class="btn-group checkbox" role="group" ng-controller="ModalContentCtrl">

                        <button class="btn btn-danger" ng-click="removeContentRow(content.cnt_cd)">
                            <i class="glyphicon glyphicon-remove visible-xs-inline-block"></i>
                            <span class="hidden-xs hidden-md">Remove</span>
                        </button>

                        <!-- Button trigger modal -->
                        <button class="btn btn-warning" ng-click="open('lg', 'contentModalTpl', content, tag)">
                            <i class="glyphicon glyphicon-pencil visible-xs-inline-block"></i>
                            <span class="hidden-xs hidden-md">Update</span>
                        </button>

                    </div>

                </td>

            </tr>

            </tbody>

        </table>

        <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true">
        </dir-pagination-controls>

    </div>

</div>

<div class="bs-component" style="margin-top:20px;" ng-if="contents.length == 0">

    <div class="row">

        <div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-info-sign"></i> You have 0
            content!
        </div>
    </div>

</div>

<link rel="stylesheet" href="assets/css/toggle.css">

<style type="text/css">

    .size {
        width: 100px;
        height: 100px;
    }

    .wrapper {
        display: inline-block;
        padding: 10px;
    }

    .wrapper img {
        width: 100%;
        height: 100%;
    }

</style>
