<a href="#" class="btn btn-inverse navbar-btn pull-left" ui-toggle="side-bar-toggled">
    <span class="glyphicon glyphicon-indent-left header" aria-hidden="true"></span>
</a>
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header navbar-center">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">Tractive</a>
</div>
<p class="navbar-text">Signage</p>
<!-- Top Menu Items -->
<ul class="nav navbar-right top-nav">

    <li dropdown>
        <a id="app-info" href="#" data-toggle="dropdown" dropdown-toggle>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <b class="caret"></b>
        </a>

        <ul class="dropdown-menu alert-dropdown">
            <li>
                <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
            </li>
            <li>
                <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
            </li>
            <li>
                <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
            </li>
            <li>
                <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
            </li>
            <li>
                <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
            </li>
            <li>
                <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">View All</a>
            </li>
        </ul>
    </li>
    <li dropdown>
        <a href="#" data-toggle="dropdown" dropdown-toggle>
            <span class="glyphicon glyphicon-th-large header" aria-hidden="true"></span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu alert-dropdown ui popup">
            <li>
                <a href="#">Signage <a class="btn btn-primary">GO</a></a>
            </li>
            <li>
                <a href="#">Beacon <a class="btn btn-primary">GO</a></a>
            </li>
        </ul>
    </li>

    <li dropdown>
        <a href="#" data-toggle="dropdown" dropdown-toggle>
            <span class="glyphicon glyphicon-user header" aria-hidden="true"></span>
            John Smith
            <b class="caret"></b>
        </a>

        <ul class="dropdown-menu">
            <li>
                <a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-off"></span> Log Out</a>
            </li>
        </ul>
    </li>
</ul>