<a href="#" class="custom-icon-sprites pull-left dashboard-logo hidden-xs">

</a>
<p class="navbar-text">SANTA Dashboard</p>

<!-- Top Menu Items -->
<ul class="nav navbar-right top-nav">

    <li ng-controller="CampaignBadgeCtrl">

        <div onclick="campaignBadge()" class="dropdown">

            <div class="dropbtn custom-icon-sprites notification  badge">

                <div class="shake badge badge-info outter-badge">{{publishRequestNumber}}</div>

            </div>

            <div id="campaignDropdown" class="dropdown-content">

                <div class="error-notice" ng-repeat="notification in campaignNotification"
                     ng-if="campaignNotification.length > 0">

                    <div class="oaerror info">
                        <a href="#/dashboard/campaign"> <strong>{{notification.owner.camp_name}}</strong><br>{{notification.owner.camp_description}}</a>
                    </div>

                </div>

                <div class="error-notice" ng-if="campaignNotification.length == 0">
                    <div class="oaerror warning">
                        <strong>0 request found!</strong> - You have 0 campaign request
                    </div>
                </div>

            </div>

        </div>

    </li>

    <li ng-controller="BadgeCtrl">

        <div onclick="associateBadge()" class="dropdown">
            <div class="dropbtn custom-icon-sprites share-requests badge">
                <div class="shake badge badge-info outter-badge">{{requestNumber}}</div>
            </div>

        </div>

        <div id="associateDropdown" class="dropdown-content">

            <div class="error-notice" ng-repeat="notification in associateNotification"
                 ng-if="associateNotification.length > 0">

                <div class="oaerror info">
                    <a href="#/dashboard/associate"> <strong>{{notification.asc_cmp_sender_id.cmp_name}}</strong> -
                        {{notification.asc_cmp_sender_id.cmp_email}}</a>
                </div>

            </div>

            <div class="error-notice" ng-if="associateNotification.length == 0">
                <div class="oaerror warning">
                    <strong>0 request found!</strong> - You have 0 associate request
                </div>
            </div>


        </div>

    </li>

    <li dropdown class="hidden-xs hidden-md">

        <a href="" data-toggle="dropdown" dropdown-toggle class="navbar-user">
            {{userName}} {{lastName}}
            <b class="custom-icon-sprites custom-caret"></b>
        </a>

        <ul class="dropdown-menu">

            <li>
                <a href=""><span class="glyphicon glyphicon-user"></span> Profile</a>
            </li>

            <li>
                <a href=""><span class="glyphicon glyphicon-cog"></span> Settings</a>
            </li>

            <li class="divider"></li>

            <li>
                <a href=""><span class="glyphicon glyphicon-off"></span> Log Out</a>
            </li>

        </ul>

    </li>

    <li>
        <a href="#" class="custom-icon-sprites logout" ng-click="logout()"></a>
    </li>

</ul>


<style type="text/css">

    .outter-badge {
        position: relative;
        margin-top: 10px;
        margin-right: -35px;
    }

    .dropbtn {
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        border-radius: 10px;
        width: 300px;
        padding: 10px 10px 10px 10px;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {
        background-color: #f1f1f1
    }

    .show {
        display: block;
    }

    .oaerror {
        width: 100%;
        margin-bottom: 5px;
        background-color: #FFFFFF; /* Default background */
        border: 1px solid #eee;
        border-left-width: 5px;
        border-radius: 3px;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
    }

    .warning {
        border-left-color: #f0ad4e;
        background-color: rgba(240, 173, 78, 0.1);
    }

    .warning strong {
        color: #f0ad4e;
    }

    .info {
        border-left-color: #5bc0de;
        background-color: rgba(91, 192, 222, 0.1);
    }

    .info strong {
        color: #5bc0de;
    }

</style>

<script>

    /* When the user clicks on the button,
     toggle between hiding and showing the dropdown content */

    function campaignBadge() {

        document.getElementById("campaignDropdown").classList.toggle("show");

    }

    function associateBadge() {

        document.getElementById("associateDropdown").classList.toggle("show");

    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

</script>
