<ul class="nav navbar-nav side-nav">
    <li class="active">
        <a href="index.html">
            <b class="badge bg-info pull-right">9</b>
            <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                    <span class="hide-toggled">
                        Dashboard
                    </span>
        </a>
    </li>
    <li>
        <a href="charts.html">
            <b class="badge bg-info pull-right">3</b>
            <span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span>
                    <span class="hide-toggled">
                        Charts
                    </span>
        </a>
    </li>
</ul>
