<ul class="nav navbar-nav side-nav">
    <li class="active">
        <a href="index.html">
            <b class="badge bg-info pull-right">9</b>
            <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                    <span class="hide-toggled">
                        Dashboard
                    </span>
        </a>
    </li>
    <li>
        <a href="#/dashboard/associate">
            <b class="badge bg-info pull-right"></b>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span class="hide-toggled">
                        Associates
                    </span>
        </a>
    </li>
    <li>
        <a href="#/dashboard/category">
            <b class="badge bg-info pull-right"></b>
            <span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span>
                    <span class="hide-toggled">
                        Category
                    </span>
        </a>
    </li>

    <li>
        <a href="#/dashboard/zone">
            <b class="badge bg-info pull-right"></b>
            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    <span class="hide-toggled">
                        Zone
                    </span>
        </a>
    </li>
</ul>
