<ul class="nav navbar-nav side-nav">
    <li ng-controller="BadgeCtrl">

        <a href="#/dashboard/associate">
            <b class="badge bg-info pull-right"></b>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span class="hide-toggled">
                        {{'ASSOCIATE_MENU' | translate}}
                    </span>
            <span class="shake badge badge-info">{{requestNumber}}</span>
        </a>
    </li>

    <li>
        <a href="#/dashboard/campaign">
            <b class="badge bg-info pull-right"></b>
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                    <span class="hide-toggled">
                        {{'CAMPAIGN_MENU'| translate}}
                        </span>
        </a>
    </li>

    <li>
        <a href="#/dashboard/location">
            <b class="badge bg-info pull-right"></b>
            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    <span class="hide-toggled">
                        {{'LOCATION_MENU' | translate}}
                    </span>
        </a>
    </li>

    <li>
        <a href="#/dashboard/category">
            <b class="badge bg-info pull-right"></b>
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    <span class="hide-toggled">
                        {{'CATEGORY_MENU' | translate}}
                    </span>
        </a>
    </li>

    <li>
        <a href="#/dashboard/zone">
            <b class="badge bg-info pull-right"></b>
            <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                    <span class="hide-toggled">
                        {{'ZONE_MENU'| translate}}
                        </span>
        </a>
    </li>

    <li>
        <a href="#/dashboard/beacon">
            <b class="badge bg-info pull-right"></b>
            <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
                    <span class="hide-toggled">
                        {{'BEACON_MENU'| translate}}
                        </span>
        </a>
    </li>

    <li>
        <a href="#/dashboard/content">
            <b class="badge bg-info pull-right"></b>
            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                    <span class="hide-toggled">
                        {{'CONTENT_MENU'| translate}}
                        </span>
        </a>
    </li>


    <li>
        <a href="#/dashboard/notification">
            <b class="badge bg-info pull-right"></b>
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                    <span class="hide-toggled">
                        {{'NOTIFICATION_MENU'| translate}}
                        </span>
        </a>
    </li>

    <li>
        <a href="#/dashboard/analytic">
            <b class="badge bg-info pull-right"></b>
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    <span class="hide-toggled">
                        {{'ANALYTIC_MENU'| translate}}
                        </span>
        </a>
    </li>

</ul>
