.auth {
    height: 100%;
    width: 100%;
    background-image: url("../images/login-background.jpg");
    display: table;
    color: white;
}

.auth form {
    margin-left: 50px;
}

.auth input, a, button, label {
    font-family: play-regular;
    color: white;
}

.auth .logo-table {
    display: table;
    height: 50%;
}

.auth .logo-cell {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display: table-cell;
    text-align: right;
}

.auth .middle {
    display: table-cell;
    vertical-align: middle;
    padding-top: 25px;
}

.auth .sign-in {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c5302e+0,ef5350+100 */
    background: #c5302e; /* Old browsers */
    background: -moz-linear-gradient(top, #c5302e 0%, #ef5350 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c5302e 0%, #ef5350 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c5302e 0%, #ef5350 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5302e', endColorstr='#ef5350', GradientType=0); /* IE6-9 */
    width: 141px;
    height: 57px;
    border-width: 0 0 0 0;
    font-size: 21px;
}

.auth h1 {
    color: #fff;
    font-size: 60px;
}

.auth h3 {
    color: #fff;
    font-size: 20px;
    font-family: play-regular;
}

.auth .vertical-line-login {
    border-right: 1px solid #FFFFFF;
    height: 50%;
}

.vertical-line {
    border-right: 1px solid #FFFFFF;
}

.auth .vertical-line-register {
    border-right: 1px solid #fff;
    height: 494px;
}

.auth .sign-up {
    font-size: 20px;
    margin-left: 10px;
}

.auth .password-recover {
    color: #00b8d4;
    font-size: 20px;
}