.auth {
    height: 100%;
    width: 100%;
    display: table;
    color: white;
}

.left-login {
    width: 50%;
    height: 50%;
    background-image: url("../images/login-background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.right-login {
    width: 50%;
    height: 50%;
    background-image: url("../images/login-background.jpg");
}

@media (max-width: 992px) {
    .auth form {
        margin: 0;
        padding: 0;
        width: 100%;

    }
}

@media (min-width: 992px) {
    .auth form {
        margin-left: 50px;
        padding-right: 270px;
    }
}

.auth input, a, button, label {
    font-family: play-regular;
    color: white;
}

.auth .login-div {
    display: table;
    height: 50%;
}

.auth .logo-table {

    display: table;
    height: 50%;
}

.auth .logo-cell {
    margin: 0;
    padding-left: 30px;
    vertical-align: middle;
    background-image: url("../images/worldMap.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: table-cell;
    text-align: center;
}

.auth .login-form {

    vertical-align: middle;
    display: table-cell;
}

.auth .middle {

    display: table-cell;
    vertical-align: middle;
    padding-top: 25px;
    background: #262A3C;
}

.auth .sign-in {

    border-width: 0px;
    background: #00bfa5;
    margin-top: 30px;
    width: 141px;
    font-family: TitilliumWeb-Regular;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (min-width: 992px) {
    .auth h1 {
        color: #fff;
        font-size: 85px;
        font-family: TitilliumWeb-Bold;
    }
}

@media (max-width: 992px) {
    .auth h1 {
        color: #fff;
        font-size: 60px;
        font-family: TitilliumWeb-Bold;
    }
}

.auth h3 {
    color: #fff;
    font-size: 24px;
    font-family: TitilliumWeb-Bold;
}

.auth .vertical-line-login {
    border-left: 1px solid #FFFFFF;
    height: 50%;
}

.vertical-line {
    border-right: 1px solid #FFFFFF;
}

.auth .vertical-line-register {
    border-right: 1px solid #fff;
    height: 494px;
}

.auth .sign-up {
    font-family: TitilliumWeb-Bold;
    font-size: 16px;
}

.auth .password-recover {
    color: #00bfa5;
    font-family: TitilliumWeb-Italic;
    font-size: 16px;
}

.row.vertical-divider {
    overflow: hidden;
}

.row.vertical-divider > div[class^="col-"] {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: -100px;
    border-left: 3px solid #F2F7F9;
    border-right: 3px solid #F2F7F9;
}

.row.vertical-divider div[class^="col-"]:first-child {
    border-left: none;
}

.row.vertical-divider div[class^="col-"]:last-child {
    border-right: none;
}

.inner-addon {
    position: relative;
}

.glyphicon.glyphicon-user.login {
    font-size: 30px;
}

.glyphicon.glyphicon-phone.login {
    font-size: 30px;
}

.glyphicon.glyphicon-inbox.login {
    font-size: 30px;
}

.glyphicon.glyphicon-lock {
    font-size: 30px;
}

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    pointer-events: none;
    padding-right: 20px;
    padding-left: 10px;

}

.form-control.input-email{
    padding-left: 50px;
    border-radius: 0;
}

.form-control.input-password{
    padding-left: 50px;
    border-radius: 0;
}

/* align glyph */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}
