<div class="page-header">
    <h1>Zones</h1>
</div>

<div class="container" style="width: 100%">
    <div class="row" style="margin-top:20px;">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label>Filter by: </label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <div ng-controller="ModalZoneCtrl">
                    <!-- angular ui modal -->
                    <script type="text/ng-template" id="zoneModalTpl">
                        <form class="form-horizontal">
                            <div class="modal-header">
                                <h3 class="modal-title">New Zone</h3>
                            </div>
                            <div class="modal-body">

                                <div class="row" ng-controller="GeocodeCtrl">
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label class="control-label col-xs-3" style="text-align: left">Name:</label>

                                            <div class="col-xs-9">
                                                <input type="text" class="form-control" placeholder="Name"
                                                       value="{{zone.zone_name}}" ng-model="zone.zone_name"
                                                       id="zone_name" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-3"
                                                   style="text-align: left">Address:</label>

                                            <div class="col-xs-9">
                                                <div class="input-group">
                                                <textarea id="zone_address" type="text" id="zoneAddress"
                                                          data-ng-model="zone.zone_address"
                                                          class="form-control" rows="2"
                                                          placeholder="Address"
                                                          aria-describedby="geocode-addon" required></textarea>
                                                <span class="input-group-addon"
                                                      ng-click="geoCode(zone.zone_address, zone.zone_range)"
                                                      id="geocode-addon"><i class="icon-search"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-3"
                                                   style="text-align: left">Range:</label>

                                            <div class="col-xs-9">
                                                <div class="input-group">
                                                    <input id="zone_range" type="text" class="form-control"
                                                           ng-model="zone.zone_range"
                                                           placeholder="20"
                                                           aria-describedby="range-addon" value="{{zone.zone_range}}"
                                                           required>
                                                    <span class="input-group-addon" id="range-addon">m</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-3"
                                                   style="text-align: left">Latitude:</label>

                                            <div class="col-xs-9">
                                                <input id="zone_latitude" type="text" class="form-control"
                                                       placeholder="10.31315"
                                                       data-ng-model="zone.zone_latitude" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-3"
                                                   style="text-align: left">Longitude:</label>

                                            <div class="col-xs-9">
                                                <input id="zone_longitude" type="text" class="form-control"
                                                       placeholder="10.31315"
                                                       data-ng-model="zone.zone_longitude" required>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <app-map style="height:400px; margin-bottom:10px; box-shadow:0 3px 25px black;"
                                                 center="loc"
                                                 markers="whoiswhere" ng-model="zone.zone_range">
                                        </app-map>
                                        <span>*make sure to geocode your address</span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="btn-group">
                                    <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
                                    <button class="btn btn-primary" type="submit" ng-click="ok()">Save</button>
                                </div>
                            </div>
                        </form>
                    </script>
                    <!-- / -->
                    <!-- Button trigger modal -->

                    <button type="button" ng-click="open('lg','zoneModalTpl')" class="btn btn-primary">Add
                        Zone
                    </button>
                    <!-- / -->
                </div>
            </div>
        </div>

    </div>
</div>

<div class="bs-component" style="margin-top:20px;" ng-controller="ModalZoneCtrl">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Address</th>
                <th>Range</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th></th>

            </tr>
            </thead>
            <tbody dir-paginate="zone in zones |filter:search|itemsPerPage:5">
            <tr>
                <td></td>
                <td>{{zone.zone_name}}</td>
                <td>{{zone.zone_address}}</td>
                <td>{{zone.zone_range}}</td>
                <td>{{zone.zone_latitude}}</td>
                <td>{{zone.zone_longitude}}</td>
                <td class="text-right">
                    <div class="btn-group" role="group">
                        <button class="btn btn-danger" ng-click="removeZoneRow(zone.zone_cd)"><i
                                class="glyphicon glyphicon-remove visible-xs-inline-block"></i>
                            <span class="hidden-xs">Remove</span></button>

                        <!-- Button trigger modal -->
                        <button class="btn btn-warning"
                                ng-click="open('lg','zoneModalTpl', zone)"><i
                                class="glyphicon glyphicon-pencil visible-xs-inline-block"></i>
                            <span class="hidden-xs">Update</span></button>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

<dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true">
</dir-pagination-controls>


