<div class="page-header">
    <h1>Campaign</h1>
</div>

<div class="container" style="width: 100%">
    <div class="row" style="margin-top:20px;">

        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label>Filter by:</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <div class="pull-right">
                <button type="button" onclick="window.location.href='#/dashboard/new-campaign'" class="btn btn-primary">
                    New Campaign
                </button>
            </div>
        </div>

    </div>
</div>

<div class="bs-component" id="level1" style="margin-top:20px;" ng-if="campaigns.length >0">
    <div id="level2" class="table-responsive" ng-controller="CampaignAlertCtrl">

        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th class="hidden-md hidden-xs">Start from</th>
                <th class="hidden-md hidden-xs">Finish at</th>
                <th>State</th>
                <th>Priority</th>
                <th></th>
            </tr>
            </thead>
            <tbody pagination-id="campaignPagination"
                   dir-paginate="campaign in campaigns | filter:search | itemsPerPage:5">
            <tr>
                <td></td>
                <td>{{campaign.owner.camp_name}} {{campaign.owner.camp_cd}}</td>
                <td class="hidden-md hidden-xs">{{formatDate(campaign.sch_date_start)}}</td>
                <td class="hidden-md hidden-xs">{{formatDate(campaign.sch_date_end)}}</td>
                <td>
                    <statedirective data="campaign"></statedirective>
                </td>
                <td>
                    {{campaign.owner.camp_priority}}

                </td>
                <td class="text-right">

                    <div class="btn-group" role="group">

                        <button ng-click="confirmCancel(campaign)"
                                ng-if="campaign.trueOwner.cmp_camp_owner == true && campaign.owner.camp_state == 'active'"
                                class="btn btn-default">
                            <i class="glyphicon glyphicon-share-alt visible-xs-inline-block"></i>
                            <span class="hidden-xs hidden-md">Deactivate</span>
                        </button>

                        <button ng-click="confirmCancel(campaign)"
                                ng-if="campaign.trueOwner.cmp_camp_owner == true && campaign.owner.camp_state == 'inactive'"
                                class="btn btn-success">
                            <i class="glyphicon glyphicon-share-alt visible-xs-inline-block"></i>
                            <span class="hidden-xs hidden-md">activate</span>
                        </button>

                        <button ng-click="confirmCancel(campaign)"
                                ng-if="campaign.trueOwner.cmp_camp_owner == true && campaign.owner.camp_state == 'expired'"
                                class="btn btn-success">
                            <i class="glyphicon glyphicon-share-alt visible-xs-inline-block"></i>
                            <span class="hidden-xs hidden-md">Reactivate</span>
                        </button>

                        <button ng-click="confirmCancel(campaign)"
                                ng-if="campaign.trueOwner.cmp_camp_owner == false && campaign.trueOwner.camp_state == 'accepted'"
                                class="btn btn-default">
                            <i class="glyphicon glyphicon-share-alt visible-xs-inline-block"></i>
                            <span class="hidden-xs hidden-md">Deactivate</span>
                        </button>

                        <button ng-click="confirmCancel(campaign)"
                                ng-if="campaign.trueOwner.cmp_camp_owner == false && campaign.trueOwner.camp_state == 'pending'"
                                class="btn btn-success">
                            <i class="glyphicon glyphicon-share-alt visible-xs-inline-block"></i>
                            <span class="hidden-xs hidden-md">activate</span>
                        </button>

                        <button class="btn btn-danger" ng-click="removeCampaignRow(campaign)">
                            <i class="glyphicon glyphicon-remove visible-xs-inline-block"></i>
                            <span class="hidden-xs  hidden-md">Remove</span>
                        </button>

                        <button ng-click="updateCampaign(campaign, true)"
                                ng-if="campaign.trueOwner.cmp_camp_owner == true" class="btn btn-warning">
                            <i class="glyphicon glyphicon-pencil visible-xs-inline-block"></i>
                            <span class="hidden-xs  hidden-md">Update</span>
                        </button>

                        <button ng-click="updateCampaign(campaign, false)"
                                ng-if="campaign.trueOwner.cmp_camp_owner == false" class="btn btn-info">
                            <i class="glyphicon glyphicon-info-sign visible-xs-inline-block"></i>
                            <span class="hidden-xs  hidden-md">Details</span>
                        </button>


                        <script type="text/ng-template" id="publishModalContent.html">

                            <div class="modal-header">
                                <h3 class="modal-title">Publish To</h3>
                            </div>

                            <div class="modal-body">

                                <div class="table-responsive">

                                    <table class="table table-responsive table-striped"
                                           data-show-refresh="true">

                                        <thead>

                                        <th>name</th>
                                        <th>email</th>
                                        <th></th>

                                        </thead>

                                        <tbody>

                                        <tr pagination-id="associatesPagination"
                                            dir-paginate="associate in associates |itemsPerPage:5">

                                            <td>
                                                {{associate.cmp_name}}
                                            </td>

                                            <td>
                                                {{associate.cmp_email}}
                                            </td>

                                            <td class="text-right">
                                                <sharedirective
                                                        associate="associate"
                                                        campaign="campaign"></sharedirective>
                                            </td>

                                        </tr>

                                        </tbody>

                                    </table>

                                </div>

                            </div>
                            <div class="modal-footer">
                                <div class="btn-group">
                                    <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
                                    <button class="btn btn-primary" type="button" ng-click="ok()">Done</button>
                                </div>
                            </div>

                            <dir-pagination-controls
                                    pagination-id="associatesPagination"
                                    max-size="5"
                                    direction-links="true"
                                    boundary-links="true">
                            </dir-pagination-controls>
                        </script>

                        <button ng-controller="PublishCampaignModal" class="btn btn-default"
                                ng-if="campaign.trueOwner.cmp_camp_owner == true"
                                ng-click="openModal('lg', 'publishModalContent.html',associates, campaign)">
                            <i class="glyphicon glyphicon-phone visible-xs-inline-block"></i>
                            <span class="hidden-xs  hidden-md">Publish</span>
                        </button>

                        <button disabled class="btn btn-default" ng-if="campaign.trueOwner.cmp_camp_owner == false">
                            <i class="glyphicon glyphicon-phone visible-xs-inline-block"></i>
                            <span class="hidden-xs  hidden-md">Publish</span>
                        </button>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <dir-pagination-controls
                pagination-id="campaignPagination"
                max-size="5"
                direction-links="true"
                boundary-links="true">
        </dir-pagination-controls>
    </div>
</div>

<div class="bs-component" style="margin-top:20px;" ng-if="campaigns.length == 0">

    <div class="row">

        <div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-info-sign"></i> You have 0
            campaign!
        </div>
    </div>

</div>


<link rel="stylesheet" type="text/css" href="assets/css/component.css"/>

<script>
    var url = "assets/js/classie.js";
    $.getScript(url);
</script>

