<div class="page-header">
    <h1>Campaign</h1>
</div>

<div class="container" style="width: 100%">
    <div class="row" style="margin-top:20px;">

        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label>Search: </label>
                    <input type="text" ng-model="search" class="form-control" placeholder="keyword">
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <div class="pull-right">
                <button type="button" onclick="window.location.href='#/dashboard/new-campaign'" class="btn btn-primary">
                    New Campaign
                </button>
            </div>
        </div>

    </div>
</div>

<div style="margin-top:20px;" ng-controller="CampaignCtrl">
    <div class="table-responsive">

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Start from</th>
                <th>Finish at</th>
                <th>State</th>
                <th>Priority</th>
                <th></th>
            </tr>
            </thead>
            <tbody dir-paginate="campaign in campaigns | filter:search | itemsPerPage:5">
            <tr>
                <td></td>
                <td>{{campaign.camp_name}}</td>
                <td ng-repeat="sch in campaign.schedule">{{sch.sch_start}}</td>
                <td ng-repeat="sch in campaign.schedule">{{sch.sch_end}}</td>
                <td>
                    <statedirective data="campaign"></statedirective>
                </td>
                <td>
                    <prioritydirective data="campaign"></prioritydirective>
                </td>
                <td class="text-right">

                    <div class="btn-group" role="group" ng-controller="CampaignAlertCtrl">

                        <button ng-click="confirmCancel(campaign.camp_state)"
                                ng-class="{false: 'btn btn-success', true: 'btn btn-default'} [campaign.camp_state == 'activated']">
                            <i class="glyphicon glyphicon-share-alt visible-xs-inline-block"></i>
                            <span class="hidden-xs hidden-md">{{campaign.camp_state == "activated" ? 'Deactivate' : 'Activate'}}</span>
                        </button>

                        <button class="btn btn-danger" ng-click="removeCampaignRow(campaign._id)">
                            <i class="glyphicon glyphicon-remove visible-xs-inline-block"></i>
                            <span class="hidden-xs  hidden-md">Remove</span>
                        </button>

                        <button onclick="window.location.href='#/dashboard/new-campaign'" class="btn btn-warning">
                            <i class="glyphicon glyphicon-pencil visible-xs-inline-block"></i>
                            <span class="hidden-xs  hidden-md">Update</span>
                        </button>

                    </div>

                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true">
</dir-pagination-controls>




