<div class="page-header">
    <h1>Campaign</h1>
</div>

<uib-accordion close-others="true">

    <uib-accordion-group panel-class="panel-info" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
        <uib-accordion-heading>
            General Informations
        </uib-accordion-heading>
        <form>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Your title go here">
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="3" placeholder="Your description go here"></textarea>
            </div>
        </form>
    </uib-accordion-group>

    <uib-accordion-group panel-class="panel-primary">
        <uib-accordion-heading>
            Schedule
        </uib-accordion-heading>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>Start from</label>

                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>End at</label>

                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <label>Days : </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="monday"> monday
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="tuesday"> tuesday
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="wednesday"> wednesday
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="thursday"> thursday
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="friday"> friday
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="saturday"> saturday
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="sunday"> sunday
            </label>
        </div>
    </uib-accordion-group>

    <uib-accordion-group panel-class="panel-warning">
        <uib-accordion-heading>
            Assign Beacons
        </uib-accordion-heading>
        <form class="form-vertical" ng-controller="CampaignStepCtrl">
            <div class="row">
                <div class="col-md-5">
                    <label class="control-label col-xs-3">Filter by Category:</label>

                    <div class="col-xs-9">
                        <oi-select
                                oi-options="category.cat_name for category in categories track by category._id"
                                ng-model="categoryValue"
                                choseList
                                multiple>
                        </oi-select>
                    </div>

                </div>
                <div class="col-md-5">
                    <label class="control-label col-xs-3">Filter by Zone:</label>

                    <div class="col-xs-9">
                        <oi-select
                                oi-options="zone.zone_name for zone in zones track by zone._id"
                                ng-model="zoneValue"
                                choseList
                                multiple>
                        </oi-select>
                    </div>
                </div>
                <div class="col-md-2">

                    <select class="form-control">
                        <option value="shared">shared</option>
                        <option value="notShared">not shared</option>
                    </select>

                </div>
            </div>

            <div class="form-group">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>UUID</th>
                            <th>Major</th>
                            <th>Minor</th>
                            <th>Shared</th>
                            <th>Expand</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="beacon in beacons | ZoneFilter : zoneValue | CategoryFilter : categoryValue : zones">
                        <tr>
                            <td>
                                <label class="switch">
                                    <input type="checkbox">
                                    <i></i>
                                </label>
                            </td>
                            <td>{{beacon.bcn_name}}</td>
                            <td>{{beacon.bcn_uuid}}</td>
                            <td>{{beacon.bcn_major}}</td>
                            <td>{{beacon.bcn_minor}}</td>
                            <td>
                                <span class="glyphicon glyphicon-ok" style="color:forestgreen;"
                                      ng-model="beacon.bcn_share" ng-if="beacon.bcn_share == 'true'"
                                      aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-remove" style="color:red;" ng-model="beacon.bcn_share"
                                      ng-if="beacon.bcn_share == 'false'" aria-hidden="true"></span>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="showContents"
                                               data-toggle="toggle">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-arrow-down"></i></span>
                                    </label>
                                </div>
                            </td>
                            <td class="text-right" ng-controller="ModalCampaignCtrl">
                                <div class="btn-group checkbox" role="group">
                                    <!-- Button trigger modal -->
                                    <button class="btn btn-info" ng-if="beacon.bcn_interaction_type == 'push' "
                                            ng-click="open('lg','campaignModalTpl', beacon)"><i
                                            class="glyphicon glyphicon-plus-sign visible-xs-inline-block"></i>
                                        <span class="hidden-xs">Complete Informations</span></button>

                                    <button class="btn btn-primary" ng-if="beacon.bcn_interaction_type == 'push' "
                                            ng-click="open('lg','assignContentModalTpl')"><i
                                            class="glyphicon glyphicon-phone visible-xs-inline-block"></i>
                                        <span class="hidden-xs">Assign Content</span>
                                        <span class="badge">{{beacon.contents.length}}</span>
                                    </button>

                                    <button class="btn btn-primary" ng-if="beacon.bcn_interaction_type == 'generate' "
                                            ng-click="open('lg','redeemFromModalTpl')"><i
                                            class="glyphicon glyphicon-phone visible-xs-inline-block"></i>
                                        <span class="hidden-xs">Redeem from</span>
                                    </button>
                                </div>

                                <!-- angular ui modal redeem from -->
                                <script type="text/ng-template" id="redeemFromModalTpl">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Redeem From</h3>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" ng-controller="CampaignStepCtrl">
                                            <div class="panelr">
                                                <div class="row">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Name</th>
                                                                <th>UUID</th>
                                                                <th>Major</th>
                                                                <th>Minor</th>
                                                                <th>Shared</th>
                                                                <th></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody ng-repeat="beacon in beacons">
                                                            <tr ng-if="beacon.bcn_interaction_type == 'fetch' ">
                                                                <td>
                                                                    <label class="switch">
                                                                        <input type="checkbox">
                                                                        <i></i>
                                                                    </label>
                                                                </td>
                                                                <td>{{beacon.bcn_name}}</td>
                                                                <td>{{beacon.bcn_uuid}}</td>
                                                                <td>{{beacon.bcn_major}}</td>
                                                                <td>{{beacon.bcn_minor}}</td>
                                                                <td>
                                                                    <span class="glyphicon glyphicon-ok"
                                                                          style="color:forestgreen;"
                                                                          ng-model="beacon.bcn_share"
                                                                          ng-if="beacon.bcn_share == 'true'"
                                                                          aria-hidden="true"></span>
                                                                    <span class="glyphicon glyphicon-remove"
                                                                          style="color:red;" ng-model="beacon.bcn_share"
                                                                          ng-if="beacon.bcn_share == 'false'"
                                                                          aria-hidden="true"></span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="btn-group">
                                            <button class="btn btn-danger" ng-click="cancel()">
                                                Cancel
                                            </button>
                                            <button class="btn btn-primary" ng-click="ok()">Save
                                            </button>
                                        </div>
                                    </div>
                                </script>
                                <!-- / -->

                                <!-- angular ui modal assign Content -->
                                <script type="text/ng-template" id="assignContentModalTpl">
                                    <form class="form-vertical" ng-controller="CampaignStepCtrl"
                                          novalidate>
                                        <fieldset ng-show="step == 1">
                                            <div class="modal-header">
                                                <h1>Complete Informations</h1>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-xs-3"
                                                                   style="text-align: left;">Beacon
                                                                Type:</label>

                                                            <div class="col-xs-9">
                                                                <select class="btn btn-default"
                                                                        data-style="btn-inverse">
                                                                    <option>entrance</option>
                                                                    <option>exit</option>
                                                                    <option>immediate</option>
                                                                    <option>near</option>
                                                                    <option>in range</option>
                                                                    <option>far</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group"
                                                             ng-controller="GenderMultiSelectCtrl">
                                                            <label class="control-label col-xs-3"
                                                                   style="text-align: left;">Gender:</label>

                                                            <div class="col-xs-9">
                                                                <oi-select
                                                                        oi-options="item.name for item in arrGender track by item.id"
                                                                        ng-model="bundle"
                                                                        choseList
                                                                        multiple>
                                                                </oi-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group"
                                                             ng-controller="GenderMultiSelectCtrl">
                                                            <label class="control-label col-xs-3"
                                                                   style="text-align: left;">Interact
                                                                With:</label>

                                                            <div class="col-xs-9">
                                                                <oi-select
                                                                        oi-options="item.name for item in arrInteractWith track by item.id"
                                                                        ng-model="bundle"
                                                                        choseList
                                                                        multiple>
                                                                </oi-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label class="control-label col-xs-3"
                                                                       style="text-align: left;">Age from:</label>

                                                                <div class="col-xs-9">
                                                                    <input type="number"
                                                                           class="form-control"
                                                                           max="99"
                                                                           min="16">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label class="control-label col-xs-3"
                                                                       style="text-align: left;">Age to:</label>

                                                                <div class="col-md-9">
                                                                    <input type="number"
                                                                           class="form-control"
                                                                           min="16"
                                                                           max="99">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                    <div class="col-md-6"
                                                         ng-controller="PopulateFrequencyCtrl">

                                                        <label class="control-label col-xs-3">Frequency:</label>

                                                        <div class="form-group col-xs-9">
                                                            <div class="col-md-6">
                                                                <input class="form-control"
                                                                       type="number"
                                                                       min="{{min}}"
                                                                       max="{{max}}">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <select class="form-control"
                                                                        ng-change="makeChanged(item)"
                                                                        ng-model="item"
                                                                        ng-options="item as item.name for item in frequecyItems">
                                                                    <option value="">
                                                                        select
                                                                        value
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="btn-group">
                                                    <button class="btn btn-danger" type="button"
                                                            ng-click="cancel()">
                                                        Cancel
                                                    </button>
                                                    <button class="btn btn-primary" ng-click="nextStep()">Next step
                                                    </button>
                                                </div>
                                            </div>

                                        </fieldset>
                                        <fieldset ng-show="step == 2">
                                            <h2>Choose Content</h2>

                                            <div class="form-group">
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div ng-controller="GalleryCtrl">
                                                                <uib-tabset justified="true">
                                                                    <uib-tab heading="DS Content">
                                                                        <ul class="list-unstyled panel"
                                                                            style="margin-top: 10%;">

                                                                            <li ng-repeat="image in images |  contentPagesFilter: currentPage : itemsPerPage">

                                                                                <div class="row">

                                                                                    <div class="col-md-6 col-xs-6">

                                                                                        <a ng-click="openLightboxModal($index, itemsPerPage, currentPage)">
                                                                                            <img lazy-src="{{image.thumbUrl}}"
                                                                                                 class="img-rounded">
                                                                                        </a>

                                                                                    </div>

                                                                                    <div class="col-md-6 col-xs-6 text-right  v-center"
                                                                                         style="display:table; height:100px;">

                                                                                        <div style="display:table-cell; vertical-align:middle; text-align:center;">
                                                                                            <label class="switch">
                                                                                                <input type="checkbox"
                                                                                                       ng-model="image"
                                                                                                       ng-change="saveChecked($index, itemsPerPage, currentPage)"
                                                                                                       ng-checked="{false: '', true: 'checked'} [content.cnt_url == image.thumbUrl] || true == getIndex($index, itemsPerPage, currentPage)">
                                                                                                <i></i>
                                                                                            </label>
                                                                                        </div>

                                                                                    </div>

                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                        <div class="text-center">
                                                                            <uib-pagination
                                                                                    total-items="totalItems"
                                                                                    ng-model="currentPage"
                                                                                    items-per-page="itemsPerPage"
                                                                                    max-size="maxSize"
                                                                                    class="pagination-md">
                                                                            </uib-pagination>
                                                                        </div>

                                                                    </uib-tab>
                                                                    <uib-tab heading="URL">

                                                                        <div class="input-group"
                                                                             style="margin-top: 10%;">
                                                                            <span class="input-group-addon"
                                                                                  id="basic-addon3">https://example.com/</span>
                                                                            <input type="text" class="form-control"
                                                                                   id="basic-url"
                                                                                   aria-describedby="basic-addon3"
                                                                                   value="{{content.cnt_url}}">
                                                                        </div>
                                                                    </uib-tab>
                                                                </uib-tabset>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <div class="btn-group">
                                                    <button class="btn btn-danger" type="button"
                                                            ng-click="cancel()">
                                                        Cancel
                                                    </button>
                                                    <button class="btn btn-default" ng-click="prevStep()">Previous
                                                        step
                                                    </button>
                                                    <button class="btn btn-primary" type="button" ng-click="ok()">
                                                        Save
                                                    </button>
                                                </div>
                                            </div>

                                        </fieldset>

                                    </form>

                                </script>
                                <!-- / -->

                                <!-- angular ui modal complete informations -->
                                <script type="text/ng-template" id="campaignModalTpl">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Complete Beacon</h3>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal">
                                            <div class="panelr">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-xs-3"
                                                                   style="text-align: left;">Name:</label>

                                                            <div class="col-xs-9">
                                                                <input value="{{beacon.bcn_name}}" type="text"
                                                                       class="form-control"
                                                                       placeholder="Name">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-xs-3"
                                                                   style="text-align: left;">UUID:</label>

                                                            <div class="col-xs-9">
                                                                <input type="text" value="{{beacon.bcn_uuid}}"
                                                                       class="form-control"
                                                                       placeholder="UUID">
                                                            </div>
                                                        </div>

                                                        <div class="form-group" ng-controller="BeaconCtrl">
                                                            <label class="control-label col-xs-3"
                                                                   style="text-align: left;">Zone:</label>
                                                            <!-- Single button -->
                                                            <div class="col-xs-9">

                                                                <select class="btn btn-defautl"
                                                                        data-style="btn-inverse"
                                                                        disabled>

                                                                    <option ng-repeat="zone in zones"
                                                                            ng-selected="{false: '', true: 'selected'} [beacon.bcn_zone_id == zone._id]">
                                                                        {{zone.zone_name}}
                                                                    </option>

                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-xs-3"
                                                                           style="text-align: left;">Major:</label>

                                                                    <div class="col-xs-9">
                                                                        <input value="{{beacon.bcn_major}}"
                                                                               type="text"
                                                                               class="form-control"
                                                                               placeholder="5">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-xs-3"
                                                                           style="text-align: left;">Minor:</label>

                                                                    <div class="col-xs-9">
                                                                        <input value="{{beacon.bcn_minor}}"
                                                                               type="text"
                                                                               class="form-control"
                                                                               placeholder="1">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="control-label col-xs-3"
                                                                           style="text-align: left;">Details:</label>

                                                                    <div class="col-xs-9">
                                                                            <textarea type="text" class="form-control"
                                                                                      rows="5"
                                                                                      placeholder="Details">{{beacon.bcn_general_information}}</textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-xs-3"
                                                                           style="text-align: left;">Limit:</label>

                                                                    <div class="col-xs-9">
                                                                        <input class="form-control" type="number"
                                                                               min="0">
                                                                        <b>* 0 to set no limit</b>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-xs-3"
                                                                           style="text-align: left;">Interaction
                                                                        type:</label>

                                                                    <div class="col-xs-6">
                                                                        <select ng-model="beaconInteractionType"
                                                                                class="form-control">
                                                                            <option ng-option value="push">push</option>
                                                                            <option ng-option value="generate">
                                                                                generate
                                                                            </option>
                                                                            <option ng-option value="fetch">fetch
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default"
                                                 ng-if="beaconInteractionType == 'generate' || beaconInteractionType == 'fetch' ">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Campaign related informations</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-xs-3"
                                                                       style="text-align: left;">Beacon
                                                                    Type:</label>

                                                                <div class="col-xs-9">
                                                                    <select class="btn btn-default"
                                                                            data-style="btn-inverse">
                                                                        <option>entrance</option>
                                                                        <option>exit</option>
                                                                        <option>immediate</option>
                                                                        <option>near</option>
                                                                        <option>in range</option>
                                                                        <option>far</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group"
                                                                 ng-controller="GenderMultiSelectCtrl">
                                                                <label class="control-label col-xs-3"
                                                                       style="text-align: left;">Gender:</label>

                                                                <div class="col-xs-9">
                                                                    <oi-select
                                                                            oi-options="item.name for item in arrGender track by item.id"
                                                                            ng-model="bundle"
                                                                            choseList
                                                                            multiple>
                                                                    </oi-select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group"
                                                                 ng-controller="GenderMultiSelectCtrl">
                                                                <label class="control-label col-xs-3"
                                                                       style="text-align: left;">Interact
                                                                    With:</label>

                                                                <div class="col-xs-9">
                                                                    <oi-select
                                                                            oi-options="item.name for item in arrInteractWith track by item.id"
                                                                            ng-model="bundle"
                                                                            choseList
                                                                            multiple>
                                                                    </oi-select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-xs-3"
                                                                       style="text-align: left;">Age:</label>

                                                                <div class="col-xs-9">
                                                                    <div class="form-group">
                                                                        <div class="col-xs-6">
                                                                            <div class="form-group">
                                                                                <label class="control-label col-xs-3"
                                                                                       style="text-align: left;">From: </label>

                                                                                <div class="col-xs-9">
                                                                                    <input type="number"
                                                                                           class="form-control"
                                                                                           max="99"
                                                                                           min="16">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-6">
                                                                            <div class="form-group">
                                                                                <label class="control-label col-xs-3"
                                                                                       style="text-align: left;">To:</label>

                                                                                <div class="col-xs-9">
                                                                                    <input type="number"
                                                                                           class="form-control"
                                                                                           min="16"
                                                                                           max="99">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-md-6" ng-controller="PopulateFrequencyCtrl">
                                                            <div class="form-group">
                                                                <label class="control-label col-xs-3">Frequency:</label>

                                                                <div class="col-xs-9">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-3">every: </label>

                                                                        <div class="col-xs-9">
                                                                            <div class="form-group">
                                                                                <div class="col-xs-5">
                                                                                    <input class="form-control"
                                                                                           type="number"
                                                                                           min="{{min}}"
                                                                                           max="{{max}}">
                                                                                </div>
                                                                                <div class="col-xs-7">
                                                                                    <select class="form-control"
                                                                                            ng-change="makeChanged(item)"
                                                                                            ng-model="item"
                                                                                            ng-options="item as item.name for item in frequecyItems">
                                                                                        <option value="">select
                                                                                            value
                                                                                        </option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="btn-group">
                                            <button class="btn btn-danger" type="button" ng-click="cancel()">
                                                Cancel
                                            </button>
                                            <button class="btn btn-primary" type="button" ng-click="ok()">Save
                                            </button>
                                        </div>
                                    </div>
                                </script>
                                <!-- / -->
                            </td>
                        </tr>
                        <tr ng-show="showContents" ng-if="beacon.contents.length != 0">
                            <td colspan="8">
                                <table class="table table-hover">
                                    <thead>
                                    <th></th>
                                    <th>title</th>
                                    <th>description</th>
                                    <th>type</th>
                                    <th>URL</th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat='content in beacon.contents'>
                                        <td></td>
                                        <td>{{content.cnt_title}}</td>
                                        <td>{{content.cnt_description}}</td>
                                        <td>{{getContentTypeName(content.cnt_type_id)}}</td>
                                        <td>
                                            <div class="wrapper size">
                                                <img class="img-circle" ng-show="content.cnt_url != ''"
                                                     lazy-src="{{content.cnt_url}}"/>
                                            </div>
                                        </td>
                                        <td></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr ng-show="showContents" ng-if="beacon.contents.length == 0">
                            <td colspan="8">
                                <div class="alert alert-warning" role="alert">0 Content assigned!</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        <div class="pull-right">
            <button class="btn btn-success"><i class="glyphicon glyphicon-save visible-xs-inline-block"></i><span
                    class="hidden-xs"> Save</span></button>
        </div>


    </uib-accordion-group>

</uib-accordion>

<link rel="stylesheet" href="assets/css/toggle.css">

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
    $(function () {
        $('#datetimepicker2').datetimepicker();
    });
</script>